#seafood-collection li a {
    line-height: 200%;
    padding-left: 20px;
}

#seafood-collection li .icon {
    float: right;
    opacity: 0.25;
}

#seafood-collection li .icon i {
    vertical-align: middle;
}

#seafood-collection li img.spinner {
    display: block;
    margin: auto;
    margin-top: 30px;
}

#seafood-info {
    display: none;
}

